<p id="notice"><%= notice %></p>

<h1>Delivery Offices</h1>

<div id="filter-form">
  <%= render partial: "filter_form" %>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Postcode</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @delivery_offices.each do |delivery_office| %>
      <tr>
        <td><%= delivery_office.name %></td>
        <td><%= delivery_office.postcode %></td>
        <td><%= link_to 'Show', delivery_office %></td>
        <td><%= link_to 'Edit', edit_delivery_office_path(delivery_office) %></td>
        <td><%= link_to 'Destroy', delivery_office, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Delivery Office', new_delivery_office_path %>
